@charset "euc-kr";

/* container */
#main #container{position:relative; z-index:50; margin:0 auto; width:980px; clear:both; border-bottom:1px solid #d7d7d7; *zoom:1}
#main #container div.section{clear:both; width:100%}

/* Common */
h3.sprite_title span{display:block; background:url(http://image.gmkt.kr/_Net/core/main/sprite_title.png) no-repeat; text-indent:-1000em}
div.section .oteuk h3 span{width:60px; background-position:0 0}
div.section .service h3 span{width:69px; background-position:0 -50px}
div.section .best h3 span{width:91px; height:63px; background-position:0 -500px}
div.section .fashion .brand h3 span{width:65px; background-position:0 -100px}
div.section .fashion .lotte h3 span{width:55px; background-position:0 -150px}
div.section .fashion .global h3 span{width:55px; background-position:0 -200px}
div.section .focus h3 span{width:66px; background-position:0 -250px}
div.section .teukga h3 span{width:44px; background-position:0 -300px}
div.section .power-item h3 span{width:81px; background-position:0 -350px}
div.section .power-shop h3 span{width:56px; background-position:0 -400px}
div.section .noticeNew h3 span{width:46px; background-position:0 -450px}
div.section .item .page{position:absolute; right:5px; top:5px; padding:0}
div.page span.num{float:left; margin:10px -2px 0}
div.page a.prev, div.page a.next, div.btnsNew a.prev, div.btnsNew a.next{background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; font-size:0; text-indent:-1000em; line-height:0}
div.page a.prev, div.page a.next{display:block; float:left; width:33px; height:34px}
div.page a.prev{background-position:-190px -90px}
div.page a.next{margin-left:-1px; background-position:-240px -90px}
div.btnsNew a.prev, div.btnsNew a.next{display:block; width:12px; height:10px}
div.btnsNew a.prev{background-position:-150px 0}
div.btnsNew a.next{background-position:-150px -10px}
div.page{padding:11px 10px 0 0; text-align:right; font-size:10px; font-family:verdana; color:#959595}
div.page em{color:#005dc6}
div.page img{vertical-align:middle; margin-top:-1px}
div.button{position:absolute}
div.button a.prev, div.button a.next{overflow:hidden; position:relative; display:block; width:39px; height:39px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; text-indent:-1000em}

div.button a.prev{float:left; background-position:0 -200px}
div.button a.next{float:right; background-position:-50px -200px}
div.button a.prev:hover{_border:0; background-position:0 -250px}
div.button a.next:hover{_border:0; background-position:-50px -250px}

/* GNB */
div.section .gnb{float:left; width:170px; height:308px}
div.section .gnb h2{height:38px}
div.section .gnb{position:relative; z-index:50}
div.section .gnb .menu{margin-top:35px}
div.section .gnb .menu a.btn, div.section .gnb .menu a.lotte{display:block; overflow:hidden; height:34px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_gnb.gif) no-repeat; text-indent:-1000em}
div.section .gnb .menu a.btn.menu1{background-position:0 0}
div.section .gnb .menu a.btn.menu1:hover{background-position:0 -40px}
div.section .gnb .menu a.btn.menu2{background-position:-180px 0}
div.section .gnb .menu a.btn.menu2:hover{background-position:-180px -40px}
div.section .gnb .menu a.btn.menu3{background-position:-360px 0}
div.section .gnb .menu a.btn.menu3:hover{background-position:-360px -40px}
div.section .gnb .menu a.btn.menu4{background-position:-540px 0}
div.section .gnb .menu a.btn.menu4:hover{background-position:-540px -40px}
div.section .gnb .menu a.btn.menu5{background-position:-720px 0}
div.section .gnb .menu a.btn.menu5:hover{background-position:-720px -40px}
div.section .gnb .menu a.btn.menu6{background-position:-900px 0}
div.section .gnb .menu a.btn.menu6:hover{background-position:-900px -40px}
div.section .gnb .menu a.btn.menu7{background-position:-1080px 0}
div.section .gnb .menu a.btn.menu7:hover{background-position:-1080px -40px}
div.section .gnb .menu a.lotte{height:35px; background-position:-1260px 0}
div.section .gnb .menu a.lotte:hover{background-position:-1260px -40px}
div.section .gnb .menu a:hover{_border:0}
div.section .gnb .menu a img{vertical-align:top}
div.section .gnb .menu .smenu{display:none; position:absolute; top:35px; z-index:20; overflow:hidden; width:279px; margin:0 0 0 170px; border:2px solid #0153ab; background:#fff; font-size:11px; letter-spacing:-1px}
div.section .gnb .menu .smenu div{width:239px; margin:6px 20px 0 20px; padding-bottom:4px; font-size:12px; border-top:1px solid #e8e8e8}
div.section .gnb .menu .smenu h4{overflow:hidden; float:left; width:85px; padding:13px 0 0 0; color:#444; font-weight:bold; font-size:12px; line-height:16px}
div.section .gnb .menu .smenu .underline:active, div.section .gnb .menu .smenu .underline:focus, div.section .gnb .menu .smenu .underline:hover{text-decoration:underline}
div.section .gnb .menu .smenu .brd{padding:0; width:100%; height:31px}
div.section .gnb .menu .smenu.lotte-cate .brd{height:42px}
div.section .gnb .menu .smenu.lotte-cate .fir .brd{height:36px}
div.section .gnb .menu .smenu .brd a{display:block; height:22px; padding:13px 0 0 0; color:#1273e0 !important; text-decoration:none}
div.section .gnb .menu .smenu.lotte-cate .brd a{padding-top:19px}
div.section .gnb .menu .smenu.lotte-cate .fir .brd a{padding-top:15px}
div.section .gnb .menu .smenu .brd a:hover span{text-decoration:underline !important}
div.section .gnb .menu .smenu div{overflow:hidden}
div.section .gnb .menu .smenu ul{float:left; margin:4px 0 0; padding-top:7px}
div.section .gnb .menu .smenu ul li{width:150px; clear:both; line-height:16px; line-height:15px; letter-spacing:-1px}
div.section .gnb .menu .smenu ul li a{*zoom:1; padding-left:1px; color:#444; line-height:20px}
div.section .gnb .menu .smenu ul li a:hover{color:#0165d9}
div.section .gnb .menu .smenu div.fir{margin-top:7px; border-top:0}
div.section .gnb .menu .smenu .cate-bn-list{width:100%; margin:6px 0 0; padding:0}
div.section .gnb .menu .smenu .cate-bn-list li{width:100%; margin:0; padding:0; letter-spacing:0; background-color:#fafafa; border-top:1px solid #d2d2d2; vertical-align:bottom}
div.section .gnb .menu .smenu .cate-bn-list li.firstBn{border-top:1px solid #aaa !important}
div.section .gnb .menu .smenu .cate-bn-list li h5{height:31px; font-weight:normal}
div.section .gnb .menu .smenu .cate-bn-list li h5 a{display:block; padding:8px 0 4px 20px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_icon_arrow.gif) no-repeat 93% 15px; color:#999; font-size:11px}
div.section .gnb .menu .smenu .cate-bn-list li.on h5 a{color:#777; background-color:#e6e6e6; background-position:93% -87px; text-decoration:none; font-weight:bold}
div.section .gnb .menu .smenu .cate-bn-list li h5 a:hover{text-decoration:underline}
div.section .gnb .menu .smenu .cate-bn-list li div{position:relative; width:auto; margin:-1px 0 0; padding:0; border-top:1px solid #dbdbdb; font-size:0}
div.section .gnb .menu .smenu .cate-bn-list li div a{margin:0; padding:0}
div.section .gnb .menu .smenu .brd a span{display:inline-block; padding-right:8px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_icon_arrow.gif) no-repeat 100% -45px; color:#1273e0 !important; cursor:pointer}

/* EVENT */
div.section .event{position:relative; float:left; width:640px; height:308px}
div.section .event .image img{vertical-align:top}
div.section .event .nav{position:absolute; z-index:5; bottom:10px; width:100%; height:25px; margin-left:16px}
div.section .event .nav ul{height:25px; zoom:1; padding-left:2px}
div.section .event .nav li{zoom:1; float:left; height:25px; overflow:hidden}
div.section .event .nav li a{display:block; _display:inline-block}
div.section .event .nav li a:hover{_border:0}
div.section .event .nav li.on .menu{display:none}
div.section .event .nav li.selected img, div.section .event .nav li.on img{margin-top:-35px}
div.section .event .nav li.selected .menu{display:inline-block}
div.section .event .nav li.selected .menu2{display:block}
div.section .event .nav li .menu{display:none; position:absolute; bottom:25px; z-index:10; width:98px; height:auto; overflow:hidden; _margin:0 0 -2px -105px; padding:6px 0 5px; border:1px solid #172f53; background:#001f50; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter:alpha(opacity=90); opacity:0.9}
div.section .event .nav li .menu li{float:left; width:92px; height:16px; overflow:hidden; padding:0 7px}
div.section .event .nav li .menu li a{display:block; width:85px; padding-bottom:2px; line-height:16px; color:#8c9ab0; letter-spacing:-1px; font-size:11px; word-wrap:break-word}
div.section .event .nav li .menu a:hover{color:#fff; text-decoration:none}
div.section .event .nav li .btn{display:none}
div.section .event .nav li.selected .btn{display:block; position:absolute; z-index:10; margin-top:-25px; _margin:0 0 0 -105px; width:98px}
div.section .event .nav li.selected .btn a{display:block; width:20px; height:20px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; text-indent:-1000em}
div.section .event .nav li.selected .btn a:hover img{margin:0 !important}
div.section .event .nav li.selected .btn img{margin:0; width:11px !important; height:11px !important}
div.section .event .nav li.selected .btn .prev{float:left; background-position:-197px -50px}
div.section .event .nav li.selected .btn .next{float:right; background-position:-247px -50px}
div.section .event .nav li a.prev{position:absolute; display:block; z-index:10; top:0px; left:0px; width:30px; height:30px}
div.section .event .nav li a.prev img{width:30px !important; height:30px !important; margin:0}
div.section .event .nav li a.next{position:absolute; display:block; z-index:10; top:0px; right:0px; width:30px; height:30px}
div.section .event .nav li a.next img{width:30px !important; height:30px !important; margin:0}
div.section .event .image{position:relative; z-index:1}
div.section .event .image a.prev, div.section .event .image a.next{position:absolute; display:block; overflow:hidden; top:131px; width:59px; height:59px; z-index:2; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; text-indent:-1000em}
div.section .event .image a.prev{left:0; background-position:0 -50px}
div.section .event .image a.prev:hover{background-position:0 -109px}
div.section .event .image a.next{right:0; background-position:-100px -50px}
div.section .event .image a.next:hover{background-position:-100px -109px}
div.section .event .image dl.btnShareSNS{position:absolute; width:36px; right:0; top:0; margin:0; padding:0; z-index:3}
div.section .event .image dl.btnShareSNS a, div.section .event .image dl.btnShareSNS dd{display:none; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button_sns.png) no-repeat}
div.section .event .image dl.btnShareSNS a{display:block;text-indent:-1000em}
div.section .event .image dl.btnShareSNS dt{display:block; margin:0; padding:0; height:35px; overflow:hidden}
div.section .event .image dl.btnShareSNS dt a{width:36px; height:36px; background-position:0 -150px}
div.section .event .image dl.btnShareSNS dt.on a{background-position:0 -200px}
div.section .event .image dl.btnShareSNS dd{height:125px; margin:0; padding:5px 3px;  text-align:center}
div.section .event .image dl.btnShareSNS dd ul{list-style:none; margin:0; padding:0}
div.section .event .image dl.btnShareSNS dd li{margin:1px; padding:0 0 1px}
div.section .event .image dl.btnShareSNS dd li a{width:28px; height:28px}
div.section .event .image dl.btnShareSNS dd li.facebook a{background-position:-50px 0}
div.section .event .image dl.btnShareSNS dd li.twitter a{background-position:-50px -50px}
div.section .event .image dl.btnShareSNS dd li.cyworld a{background-position:-50px -100px}
div.section .event .image dl.btnShareSNS dd li.mypeople a{background-position:-50px -150px}
div.section .event .nav li .menu2 .cont{height:29px; padding:0 29px 0 36px; background:#001f50; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter:alpha(opacity=90); opacity:0.9}
div.section .event .nav li .menu2 li.fir a{width:81px}
div.section .event .nav li .menu2 li.las a{width:80px}
div.section .event .nav li .nbt{width:603px; padding:0}
div.section .event .nav li .nbt .cont{padding:0}
div.section .event .nav li .nbt ul{margin:0}
div.section .event .nav li .nbt li a{width:82px}

/* SALE */
div.section .sale{float:left; width:170px; height:308px; background:url(http://image.gmkt.kr/_Net/core/main/bg_contents.gif) 100% 0 repeat-y}
div.section .sale img{vertical-align:top}
div.section .sale .today{position:relative; z-index:10; width:170px; background:#d5eaff url(../../images/main/bg_today.gif) 0 0 no-repeat /* 이미지 경로 확인 */}
div.section .sale a.sale_a1{display:block; overflow:hidden; width:100%; cursor:pointer; text-decoration:none}
div.section .sale .today:after{clear:both; content:""; display:block}
div.section .sale .today .date{float:left; height:24px; padding:11px 0 0 11px; font-family:tahoma; font-weight:bold; color:#2b598a}
div.section .sale .today .kind{float:right; width:117px; height:20px; overflow:hidden; padding:5px 5px 0 0}
div.section .sale .today .kind li{text-align:right}
div.section .sale .today .kind li a{display:block; padding:7px 8px 0 0; color:#2b598a; font-size:11px}
div.section .sale .today .kind li a.new{background:url(http://image.gmkt.kr/_Net/core/main/sprite_icon.gif) no-repeat 100% -150px}
div.section .sale .today .kind li a:hover{text-decoration:none}
div.section .sale .on{background:#193d76}
div.section .sale .on .date, div.section .sale .on .date a{color:#fff}
div.section .sale .on .kind a{color:#fff799 !important}
div.section .sale .today .calendar{clear:both; position:absolute; top:35px; left:0; width:166px; height:271px; text-align:center; border:2px solid #193d76; border-width:0 2px 2px; background:#fff}
div.section .sale .today .calendar h4{margin:0 auto; width:80px; height:28px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_event_calendar.gif) no-repeat 0 12px; text-indent:-1000em}
div.section .sale .today .calendar .btn img{display:block; float:left; vertical-align:middle}
div.section .sale .today .calendar .btn .txt{display:block; margin:0 auto; font-size:17px; font-family:tahoma; font-weight:bold; color:#000 }
div.section .sale .today .calendar .cont{clear:both; width:147px; margin:0 auto; padding-top:6px}
div.section .sale .today .calendar .cont ul{font-size:11px; border-bottom:1px solid #e9e9e9; *zoom:1}
div.section .sale .today .calendar .cont ul:after{content:""; display:block; clear:both}
div.section .sale .today .calendar .cont ul li{position:relative; float:left; width:21px; height:20px; border-top:1px solid #e9e9e9}
div.section .sale .today .calendar .cont ul li a{display:block; height:16px; padding-top:4px; font-family:tahoma; font-size:9px; text-decoration:none}
div.section .sale .today .calendar .cont ul li a.txt{font-family:dotum; font-size:11px; }
div.section .sale .today .calendar .cont ul li.sun a{color:#ff4800}
div.section .sale .today .calendar .cont ul li.sat a{color:#1179ea}
div.section .sale .today .calendar .cont ul li.selected{background:url(http://image.gmkt.kr/_Net/core/main/sprite_event_calendar.gif) no-repeat 0 -200px}
div.section .sale .today .calendar .cont ul li.selected a{text-decoration:none; color:#fff; font-weight:bold; letter-spacing:-1px}
div.section .sale .today .calendar .cont ul li.selected .layCal{display:block}
div.section .sale .today .calendar .cont .layCal{display:none; position:absolute; left:0; bottom:0; margin:0 0 27px 0; width:145px; background:#fff; border:1px solid #193d76}
div.section .sale .today .calendar .cont .layCal .layCon{position:relative; padding:9px 18px 6px 9px; text-align:left}
div.section .sale .today .calendar .cont .layCal .layCon p{position:relative; overflow:hidden; width:100%;  padding:0 0 0 5px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_icon.gif) no-repeat 0 -745px; font-size:11px; letter-spacing:-1px}
div.section .sale .today .calendar .cont .layCal .layCon p a{float:left; padding:0; height:16px; font-size:11px; font-family:dotum; color:#777; font-weight:normal; text-align:left}
div.section .sale .today .calendar .cont .layCal .layCon p span{position:absolute; right:0; top:0; display:block; height:11px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_event_calendar.gif) no-repeat; text-indent:-1000em; line-height:0}
div.section .sale .today .calendar .cont .layCal .layCon p span.state_ing{width:24px; background-position:0 -48px}
div.section .sale .today .calendar .cont .layCal .layCon p span.state_end{width:16px; background-position:0 -98px}
div.section .sale .today .calendar .cont .layCal .layCon p span.state_yet{width:32px; background-position:0 -148px}
div.section .sale .today .calendar .cont ol li.selected .layCal .layCon p a{color:#1179ea}
div.section .sale .today .calendar .cont .layCal .layCon p a:hover{text-decoration:underline}
div.section .sale .today .calendar .cont .layCal .layCon .close{position:absolute; right:0; top:0; font-size:0; line-height:0}
div.section .sale .today .calendar .cont .layCal .layCon .close a.button_close{overflow:hidden; display:block; width:12px; height:10px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_event_calendar.gif) no-repeat 2px -296px; text-indent:-1000em}
div.section .sale .today .calendar .cont .layCal .layEdge{position:absolute; left:0; display:block; width:9px; height:7px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_event_calendar.gif) no-repeat 0 -350px}
div.section .sale .today .calendar .cont .b1{margin-left:0}
div.section .sale .today .calendar .cont .b1 .layEdge{margin-left:6px}
div.section .sale .today .calendar .cont .b2{margin-left:-22px}
div.section .sale .today .calendar .cont .b2 .layEdge{margin-left:27px}
div.section .sale .today .calendar .cont .b3{margin-left:-42px}
div.section .sale .today .calendar .cont .b3 .layEdge{margin-left:48px}
div.section .sale .today .calendar .cont .b4{margin-left:-64px}
div.section .sale .today .calendar .cont .b4 .layEdge{margin-left:69px}
div.section .sale .today .calendar .cont .b5{margin-left:-84px}
div.section .sale .today .calendar .cont .b5 .layEdge{margin-left:91px}
div.section .sale .today .calendar .cont .b6{margin-left:-105px}
div.section .sale .today .calendar .cont .b6 .layEdge{margin-left:112px}
div.section .sale .today .calendar .cont .b7{margin-left:-127px}
div.section .sale .today .calendar .cont .b7 .layEdge{margin-left:133px}
div.section .sale .today .calendar .cont .bnr{clear:both; width:147px; margin:0 auto}
div.section .sale .today .calendar .cont .bnr img{vertical-align:top}
div.section .sale .today .calendar .close{position:absolute; bottom:-2px; right:-2px; _bottom:-3px}
div.section .sale .today .calendar .close a.button_close{display:block; width:17px; height:17px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_event_calendar.gif) no-repeat 0 -250px; text-indent:-1000em}
div.section .sale .oteuk{position:relative; z-index:5; width:150px; margin:0 auto; padding-top:14px; height:224px}
div.section .sale .oteuk h3{padding-bottom:6px; padding-left:2px}
div.section .sale .oteuk h3 a{text-decoration:none; color:#063e82; font-weight:bold}
div.section .sale .oteuk h3 a span.txt-lt{letter-spacing:-1px}
div.section .sale .oteuk .page{position:absolute; right:-5px; top:5px; padding:0}
div.section .sale .oteuk .page img{margin:0}
div.section .sale .oteuk div.page .span{padding:0}

/* B */
/* G마켓서비스 */
div.section .service{position:relative; float:left; width:171px; height:226px; z-index:41}
div.section .service h3{padding:11px 0 0 13px; height:23px; overflow:hidden; background:url(http://image.gmkt.kr/_Net/core/main/bg_Gservice.gif) no-repeat 0 0}
div.section .service a.btnAll{position:absolute; top:12px; right:10px; color:#afb7c7; font-size:11px; letter-spacing:-1px; text-decoration:none}
div.section .service ul{height:192px; overflow:hidden; background-color:#eff0f2; border:1px solid #cfd2d7; border-top:1px solid #e1e2e6}
div.section .service li{border-top:1px solid #f8f8f9; border-bottom:1px solid #dfe1e4}
div.section .service li.first{border-top:0}
div.section .service li.last{border-bottom:0}
div.section .service li a{display:block; padding:9px 10px 6px 13px; height:15px; overflow:hidden; color:#444445; letter-spacing:-1px; text-decoration:none}
div.section .service li.fir a{padding-top:9px}
div.section .service li a span.new{display:inline-block; margin-left:4px; width:11px; height:11px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_icon.gif) no-repeat 0 -100px; text-indent:-1000em; vertical-align:top}
div.section .service li a:hover, div.section .service li a:active, div.section .service li a:focus{color:#193d76; font-weight:bold}

/* BEST */
div.section .best{position:relative; float:left; width:639px; height:227px}
div.section .best .label{position:absolute; z-index:10; margin:-4px 0 0 14px}
div.section .best .best_tab{float:right; margin:9px 9px 6px 0; width:auto; height:35px}
div.section .best .best_tab a.prev, div.section .best .best_tab a.next{display:block; float:left; width:33px; height:34px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; font-size:0; text-indent:-1000em; line-height:0}
div.section .best .best_tab a.prev{background-position:-190px -90px}
div.section .best .best_tab a.next{background-position:-243px -90px}
div.section .best .best_tab ul{overflow:hidden; float:left; margin-top:6px; width:auto; *zoom:1}
div.section .best .best_tab li{float:left; padding:0 9px; background:url(http://image.gmkt.kr/_Net/core/main/bg_bar_page.gif) no-repeat 0 5px}
div.section .best .best_tab li.fir{background:none}
div.section .best .best_tab li a{float:left; padding-top:5px; font-size:11px; line-height:14px; letter-spacing:-1px}
div.section .best .best_tab li a:hover, div.section .best .best_tab li a.on{color:#1178e9; text-decoration:none; background:url(http://image.gmkt.kr/_Net/core/main/bg_link_on.gif) repeat-x}
div.section .best .best_cont{clear:both}
div.section .best .best_cont #prev a, div.section .best .best_cont #next a{display:block; position:absolute; top:86px; width:26px; height:26px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; text-indent:-1000em}
div.section .best .best_cont #prev a{left:5px; background-position:-50px 0}
div.section .best .best_cont #next a{right:5px; background-position:-100px 0}
div.section .best .best_cont .rollingBox{position:relative; width:574px; overflow:hidden; margin-left:35px}
div.section .best .best_cont .rollingBox ul{width:1000px}
div.section .best .best_cont .rollingBox li{float:left; width:102px; margin-right:15px}
div.section .best .best_cont .rollingBox .prd{padding-top:1px; text-align:center}
div.section .best .best_cont .rollingBox .prd img{width:100px; height:100px; border:1px solid #e1e1e1}
div.section .best .best_cont .rollingBox .prd span{overflow:hidden; display:block; margin-top:7px; width:102px; height:28px; font-size:11px; line-height:14px; letter-spacing:-1px}
div.section .best .best_cont .rollingBox .prd strong{display:block; padding-top:6px; font-weight:bold; font-size:12px; letter-spacing:0; color:#000}
div.section .best .best_cont .rollingBox .num{display:block; position:absolute; margin-left:84px; width:22px; height:27px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_number.png) no-repeat; text-indent:-1000em}
div.section .best .best_cont .rollingBox .num1{background-position:0 0}
div.section .best .best_cont .rollingBox .num2{background-position:-50px 0}
div.section .best .best_cont .rollingBox .num3{background-position:-100px 0}
div.section .best .best_cont .rollingBox .num4{background-position:-150px 0}
div.section .best .best_cont .rollingBox .num5{background-position:-200px 0}
div.section .best .best_cont .rollingBox .num6{background-position:-250px 0}
div.section .best .best_cont .rollingBox .num7{background-position:-300px 0}
div.section .best .best_cont .rollingBox .num8{background-position:-350px 0}
div.section .best .best_cont .rollingBox .num9{background-position:-400px 0}
div.section .best .best_cont .rollingBox .num10{background-position:-450px 0}
div.section .best .best_cont .rollingBox .num11{background-position:0 -50px}
div.section .best .best_cont .rollingBox .num12{background-position:-50px -50px}
div.section .best .best_cont .rollingBox .num13{background-position:-100px -50px}
div.section .best .best_cont .rollingBox .num14{background-position:-150px -50px}
div.section .best .best_cont .rollingBox .num15{background-position:-200px -50px}
div.section .best .best_cont .rollingBox .num16{background-position:-250px -50px}
div.section .best .best_cont .rollingBox .num17{background-position:-300px -50px}
div.section .best .best_cont .rollingBox .num18{background-position:-350px -50px}
div.section .best .best_cont .rollingBox .num19{background-position:-400px -50px}
div.section .best .best_cont .rollingBox .num20{background-position:-450px -50px}
div.section .best .best_cont .rollingBox .num21{background-position:0 -100px}
div.section .best .best_cont .rollingBox .num22{background-position:-50px -100px}
div.section .best .best_cont .rollingBox .num23{background-position:-100px -100px}
div.section .best .best_cont .rollingBox .num24{background-position:-150px -100px}
div.section .best .best_cont .rollingBox .num25{background-position:-200px -100px}
div.section .best .best_cont .rollingBox .num26{background-position:-250px -100px}
div.section .best .best_cont .rollingBox .num27{background-position:-300px -100px}
div.section .best .best_cont .rollingBox .num28{background-position:-350px -100px}
div.section .best .best_cont .rollingBox .num29{background-position:-400px -100px}
div.section .best .best_cont .rollingBox .num30{background-position:-450px -100px}
div.section .best .best_cont .rollingBox .num31{background-position:0 -150px}
div.section .best .best_cont .rollingBox .num32{background-position:-50px -150px}
div.section .best .best_cont .rollingBox .num33{background-position:-100px -150px}
div.section .best .best_cont .rollingBox .num34{background-position:-150px -150px}
div.section .best .best_cont .rollingBox .num35{background-position:-200px -150px}
div.section .best .best_cont .rollingBox .num36{background-position:-250px -150px}
div.section .best .best_cont .rollingBox .num37{background-position:-300px -150px}
div.section .best .best_cont .rollingBox .num38{background-position:-350px -150px}
div.section .best .best_cont .rollingBox .num39{background-position:-400px -150px}
div.section .best .best_cont .rollingBox .num40{background-position:-450px -150px}
div.section .best .best_cont .rollingBox .num41{background-position:0 -200px}
div.section .best .best_cont .rollingBox .num42{background-position:-50px -200px}
div.section .best .best_cont .rollingBox .num43{background-position:-100px -200px}
div.section .best .best_cont .rollingBox .num44{background-position:-150px -200px}
div.section .best .best_cont .rollingBox .num45{background-position:-200px -200px}
div.section .best .best_cont .rollingBox .num46{background-position:-250px -200px}
div.section .best .best_cont .rollingBox .num47{background-position:-300px -200px}
div.section .best .best_cont .rollingBox .num48{background-position:-350px -200px}
div.section .best .best_cont .rollingBox .num49{background-position:-400px -200px}
div.section .best .best_cont .rollingBox .num50{background-position:-450px -200px}

/* AD */
div.section .ad{position:relative; z-index:50; float:left; width:170px}
div.section .ad a.prev, div.section .ad a.next{position:absolute; top:0; display:block; width:39px; height:39px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; text-indent:-1000em}
div.section .ad a.prev{left:0; background-position:0 -200px}
div.section .ad a.next{right:0; background-position:-50px -200px}
div.section .ad a.prev:hover{background-position:0 -250px}
div.section .ad a.next:hover{background-position:-50px -250px}

div.section .ad .o-btn{position:absolute; left:13px; top:12px; font-size:0}
div.section .ad .ad-s{position:absolute; right:0; bottom:0; margin-right:170px}
div.section .ad .ad-b{position:absolute; right:0; bottom:0}
div.section .ad img{vertical-align:top}
div.section .ad .close{position:absolute; left:10px; top:10px; cursor:pointer}

/* C */
/* MOD-AD */
div.section .mod-ad{position:relative; z-index:40; float:left; width:170px; height:307px}
div.section .mod-ad .cont{position:absolute; left:-35px; top:0; z-index:20; width:205px; height:307px}
div.section .mod-ad .ad-expanded{position:absolute; bottom:0; z-index:30}

/* FASHION SHOP */
div.section .fashion{float:left; width:640px; height:307px}
div.section .fashion img{vertical-align:top}
div.section .fashion h3{position:absolute; padding:15px 0 0 14px}
div.section .fashion div.button{width:70px; right:5px; top:0}
div.section .fashion div.button a.prev, div.section .fashion div.button a.next{width:35px; height:42px}
div.section .fashion .bnr_top{height:214px}
div.section .fashion .brand{position:relative; z-index:1; float:left; width:214px; background:#ccd7ec}
div.section .fashion .lotte, div.section .fashion .global{position:relative; z-index:1; float:left; width:213px}
div.section .fashion .lotte{background:#e7dbb4}
div.section .fashion .global{background:#fadddb}
div.section .fashion .brand h3{padding-left:15px}
div.section .fashion .brand .bnr_btm img{width:212px; height:92px; border:1px solid #c8d0e4; border-top:0}
div.section .fashion .lotte .bnr_btm img{width:212px; height:92px; border:1px solid #e5dabf; border-width:0 1px 1px 0}
div.section .fashion .global .bnr_btm img{width:212px; height:92px; border:1px solid #eec6c1; border-width:0 1px 1px 0}
div.section .fashion .brand div.button a.prev{background-position:10px -290px}
div.section .fashion .brand div.button a.next{background-position:-40px -290px}
div.section .fashion .brand div.button a.prev:hover{background-position:10px -340px}
div.section .fashion .brand div.button a.next:hover{background-position:-40px -340px}
div.section .fashion .lotte div.button a.prev{background-position:-90px -290px}
div.section .fashion .lotte div.button a.next{background-position:-140px -290px}
div.section .fashion .lotte div.button a.prev:hover{background-position:-90px -340px}
div.section .fashion .lotte div.button a.next:hover{background-position:-140px -340px}
div.section .fashion .global div.button a.prev{background-position:-190px -290px}
div.section .fashion .global div.button a.next{background-position:-240px -290px}
div.section .fashion .global div.button a.prev:hover{background-position:-190px -340px}
div.section .fashion .global div.button a.next:hover{background-position:-240px -340px}

/* FOCUS ITEM */
div.section .focus{position:relative; float:left; width:170px; height:307px; background:url(http://image.gmkt.kr/_Net/core/main/bg_contents.gif) 100% 0 repeat-y}
div.section .focus h3{height:29px; padding:15px 0 0 15px}
div.section .focus .page{position:absolute; right:5px; top:5px; padding:0}
div.section .focus ul{width:152px; overflow:hidden; margin-left:11px}
div.section .focus ul li{float:left; width:76px; height:80px; padding-bottom:5px}
div.section .focus .prd{width:58px; margin:0 auto}
div.section .focus .prd .img{}
div.section .focus .prd img{width:58px; height:53px; vertical-align:top}
div.section .focus .prd .info{padding-top:2px; height:25px; overflow:hidden; text-align:center; letter-spacing:-1px; font-size:11px; line-height:13px}
div.section .focus .prd span{display:block; padding-top:2px; height:25px; overflow:hidden; text-align:center; letter-spacing:-1px; font-size:11px; line-height:13px}

/* D */
/* CATEGORY */
div.section .cate{overflow:hidden; background:url(http://image.gmkt.kr/_Net/core/main/bg_cate.gif) 50% 0 no-repeat}
div.section .cate .lft{float:left; width:490px}
div.section .cate .rgh{float:right; width:490px}
div.section .cate .bnr{position:relative; width:170px; height:209px; float:left}
div.section .cate .bnr a.prev, div.section .cate .bnr a.next{position:absolute; top:0; display:block; width:39px; height:39px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat; text-indent:-1000em}
div.section .cate .bnr a.prev{left:0; background-position:0 -200px}
div.section .cate .bnr a.next{right:0; background-position:-50px -200px}
div.section .cate .bnr a.prev:hover{background-position:0 -250px}
div.section .cate .bnr a.next:hover{background-position:-50px -250px}
div.section .cate .cont{float:left; width:320px; padding-top:15px}
div.section .cate .cont .cate_tab{height:31px; padding-left:15px}
div.section .cate .cont .cate_tab li{float:left; padding:0 11px 0 9px; background:url(http://image.gmkt.kr/_Net/core/main/bg_bar_page.gif) no-repeat 0 5px}
div.section .cate .cont .cate_tab li.fir{background:none; padding-left:0}
div.section .cate .cont .cate_tab li a{float:left; padding-top:5px; font-size:11px; line-height:14px; letter-spacing:-1px}
div.section .cate .cont .cate_tab li a:hover, div.section .cate .cont .cate_tab li a.on{color:#1178e9; text-decoration:none; background:url(http://image.gmkt.kr/_Net/core/main/bg_link_on.gif) repeat-x}
div.section .cate .cont .cate_cont{width:308px; overflow:hidden; padding-left:12px}
div.section .cate .cont .cate_cont li{float:left}
div.section .cate .cont .cate_cont li .prd{width:92px; margin-right:10px; text-align:center; line-height:14px; font-size:11px}
div.section .cate .cont .cate_cont li .prd {display:block; }
div.section .cate .cont .cate_cont li .prd img{width:90px; height:90px; border:1px solid #ececec}
div.section .cate .cont .cate_cont li .prd span{display:block; margin-top:7px; height:28px; overflow:hidden; padding:0 5px; letter-spacing:-1px}
div.section .cate .cont .cate_cont li .prd span a{letter-spacing:-1px}
div.section .cate .cont .cate_cont li .prd strong{display:block; padding-top:5px; color:#000; font-size:12px}
div.section .cate .rgh .cont .cate_tab{float:right; padding-right:4px}

/* E */
/* THEMA */
div.section .thema{overflow:hidden; width:980px; height:298px}
div.section .thema .tab{float:left; width:170px; height:298px}
div.section .thema .tab li{overflow:hidden; float:left; color:#666; font-weight:bold;text-indent:16px}
div.section .thema .tab li a{display:block; padding-top:11px; width:169px; height:21px; border:1px solid #d7d7d7; border-width:0 0 1px 1px; text-decoration:none}
div.section .thema .tab li a:hover, div.section .thema .tab li.selected a{color:#fff}
div.section .thema .tab li a.thema1{height:22px}
div.section .thema .tab li a.thema1:hover, div.section .thema .tab li.selected a.thema1{background:#97b7e6; border-color:#88a4cf}/* BRAND ON */
div.section .thema .tab li a.thema2:hover, div.section .thema .tab li.selected a.thema2{background:#cbae52; border-color:#b69c4a}/* LOTTE 롯데백화점 */
div.section .thema .tab li a.thema3:hover, div.section .thema .tab li.selected a.thema3{background:#35d5c9; border-color:#30bfb5}/* 패션소호 */
div.section .thema .tab li a.thema4:hover, div.section .thema .tab li.selected a.thema4{background:#f6b348; border-color:#dda141}/* G-WOMEN */
div.section .thema .tab li a.thema5:hover, div.section .thema .tab li.selected a.thema5{background:#88ced6; border-color:#7ab9c0}/* G-MEN */
div.section .thema .tab li a.thema6:hover, div.section .thema .tab li.selected a.thema6{background:#f2aeb9; border-color:#d99ca6}/* G-BEAUTY */
div.section .thema .tab li a.thema7:hover, div.section .thema .tab li.selected a.thema7{background:#90a5da; border-color:#8194c4}/* G-SPORTS */
div.section .thema .tab li a.thema8:hover, div.section .thema .tab li.selected a.thema8{background:#babf63; border-color:#a7ac59}/* G-LEISURE */
div.section .thema .tab li a.thema9:hover, div.section .thema .tab li.selected a.thema9{background:#a0c882; border-color:#90b475}/* G-KIDS */
div.section .thema .cont{float:left; width:810px}
div.section .item{overflow:hidden}
div.section .item h3{height:34px; padding-left:15px}
div.section .item .prd{width:102px; text-align:center;}
div.section .item .prd img{width:100px; height:100px; border:1px solid #ececec}
div.section .item .prd span{display:block; margin-top:7px; height:28px; overflow:hidden; padding:0 5px; line-height:14px; font-size:11px; letter-spacing:-1px}
div.section .item .prd span a{letter-spacing:-1px}
div.section .item .prd strong{display:block; padding-top:5px; color:#000; font-size:12px}

/* F */
/* TEUKGA */
div.section .teukga{position:relative; float:left; width:169px; height:202px; padding-top:15px; border-left:1px solid #d7d7d7; background:#f5f5f5}
div.section .teukga .prd{margin:0 auto}

/* POWER ITEM */
div.section .power-item{position:relative; float:left; width:639px; height:202px; padding-top:15px; border-left:1px solid #d7d7d7}
div.section .power-item ul{padding-left:30px}
div.section .power-item li{float:left; width:102px; padding-right:17px}
div.section .power-item .page{right:24px}

/* MINISHOP */
div.section .power-shop{position:relative; float:left; width:168px; height:202px; padding-top:15px; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; background:#f5f5f5}
div.section .power-shop .prd{margin:0 auto}

/* G */
div.section7_new{height:197px; overflow:hidden}
div.section7_1{height:39px; overflow:hidden; _zoom:1}
div.section7_new .tit{padding:0; background-color:#efefef; height:36px; overflow:hidden}

/* PARCEL */
div.section .parcelNew{float:left; width:171px}
div.section .parcelNew h3{padding:0; height:37px}
div.section .parcelNew img{vertical-align:top}

/* GLOBAL */
div.section .globalNew{float:left; width:212px; border-top:1px solid #d7d7d7; border-bottom:1px solid #d3d3d3}
div.section .globalNew img{vertical-align:top}

/* SPONSOR */
div.section .sponsorNew{float:left; width:213px; border:1px solid #d7d7d7; border-bottom:1px solid #d3d3d3}
div.section .sponsorNew .tit{position:relative; overflow:hidden; _zoom:1}
div.section .sponsorNew .tit span{display:block; padding:14px 12px 10px; position:absolute; top:0; right:0; text-align:right; font-size:11px; line-height:12px}
div.section .sponsorNew .tit span *{vertical-align:top}
div.section .sponsorNew .tit span img{margin-right:3px}
div.section .sponsorNew .tit span em{padding-left:16px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_icon.gif) no-repeat 0 -200px; color:#167511; font-style:normal}

/* SNS */
div.section .snsNew{float:left; width:212px; border-top:1px solid #d7d7d7; border-bottom:1px solid #d3d3d3}
div.section .snsNew img{vertical-align:top}

/* MOBILE */
div.section .mobileNew{float:right; width:170px}
div.section .mobileNew h3{padding:0; height:37px}
div.section .mobileNew img{vertical-align:top}

/* H */
/* NOTICE */
div.section .noticeNew{position:relative; float:left; width:769px; padding:13px 20px; border-left:1px solid #d7d7d7}
div.section .noticeNew h3{float:left; margin-right:40px; width:110px}
div.section .noticeNew .btnsNew{position:absolute; left:135px; top:11px; width:12px; font-size:4px; line-height:4px}
div.section .noticeNew ul.listNew{float:left; width:600px; height:14px; padding-left:15px; overflow:hidden; font-size:11px; line-height:14px}
div.section .noticeNew ul.listNew li{padding:2px 0}
div.section .noticeNew ul.listNew li a{color:#222}
div.section .noticeNew ul.listNew li span{margin-left:8px; padding-left:8px; background:url(http://image.gmkt.kr/_Net/core/main/bg_notice_bar.gif) no-repeat 0 0; color:#aaa}

/* All-service */
div.section .all-serviceNew{float:right; width:64px; height:100%; padding:15px 20px 0 0; border-right:1px solid #d7d7d7; text-align:right}
div.section .all-serviceNew a.allservice{display:block; width:64px; height:10px; background:url(http://image.gmkt.kr/_Net/core/main/sprite_button.png) no-repeat -170px 0; font-size:0; text-indent:-1000em}

/* I */
/* CARD */
div.section .cardNew{height:34px; font-size:0; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-top:1px solid #ededed}
div.section .cardNew img{vertical-align:top}

/* FLOATING */
div.floating{position:relative; z-index:1000;}
div.floating .bnr{position:absolute; left:-95px; top:0; width:85px}
div.floating .bnr a.banner_main{display:block; margin-top:104px;}
div.floating .bnr a.banner_main img{width:85px; height:120px}

div.quick{position:absolute; right:-100px; top:-3px; z-index:500}
div.quick .inner{width:88px; text-align:center; border:1px solid #79b2f0}
div.quick div{font-size:11px; letter-spacing:-1px}
div.quick a{color:#0769d4}
div.quick a:hover{text-decoration:none}
div.quick .quick-btn{border-bottom:1px solid #79b2f0}
div.quick .quick-btn a{display:block; padding:6px 8px 3px; background:#f4f9fe; text-align:left}
div.quick .quick-btn a img{margin-bottom:4px}
div.quick .login .quick-btn a{padding:6px 8px 3px; text-align:left}
div.quick .quick-btn strong{position:absolute; right:0; padding-right:8px; letter-spacing:0; color:#1179ea}
div.quick .quick-btn .lay-none{position:absolute; z-index:1; width:90px; height:40px; overflow:hidden; margin:-5px 0 0 -1px; *margin:-5px 0 0 -45px; background:url(http://image.gmkt.kr/_Net/core/common/wing/bg_lay_balloon.gif) 0 0 no-repeat /* 이미지 경로 확인 */}
div.quick .quick-btn .lay-none p{margin-top:10px; padding:0 6px; line-height:13px}
div.quick .quick-cont{overflow:hidden; background:#fff}
div.quick .quick-cont h3 strong{padding-left:5px}
div.quick .quick-cont .plus{width:65px; margin:0 auto}
div.quick .quick-cont .plus li{height:83px}
div.quick .quick-cont .plus li img{display:block; width:65px; height:50px; margin-bottom:3px; vertical-align:top}
div.quick .quick-cont .plus a{color:#676767; line-height:14px}
div.quick .quick-cont .plus a.txt{display:block; height:27px; overflow:hidden}
div.quick .quick-cont .plus a:hover{text-decoration:underline}
div.quick .quick-cont .item{width:72px; margin:0 auto}
div.quick .quick-cont .item li{height:79px; text-align:left}
div.quick .quick-cont .item li a{display:block; width:70px; height:70px; border:1px solid #ececec; font-size:0}
div.quick .quick-cont .item li a:hover, div.quick .quick-cont .item li a.on{border:1px solid #193d76}
div.quick .quick-cont .item li img{width:70px; height:70px; vertical-align:top}
div.quick .quick-cont .item li .overlyr{position:absolute; width:118px; height:56px; display:none; margin:-72px 0 0 -129px; padding:14px 0 0 10px; color:#FFF; font-size:11px; line-height:14px; border:1px solid #193d76; background:#1179ea; cursor:pointer}
div.quick .quick-cont .item li .overlyr a{font-size:11px}
div.quick .quick-cont .item li .overlyr a.del{position:absolute; right:0; top:0; margin:-1px -71px 0 0; width:13px; border:0; height:13px}
div.quick .quick-cont .item li .overlyr a{width:108px; height:25px; color:#fff; border:0; cursor:pointer}
div.quick .quick-cont .item li .overlyr a:hover{color:#fff; text-decoration:none; border:0}
div.quick .quick-cont .item li .overlyr a span{display:block; height:25px; overflow:hidden}
div.quick .quick-cont .item li .overlyr a.del:hover{border:0; width:13px; height:13px}
div.quick .quick-cont .item li .overlyr a.del img{width:13px; height:13px}
div.quick .quick-cont .item li .overlyr strong{display:block; color:#fff; letter-spacing:0; padding-top:5px}
div.quick .quick-cont .btn{height:20px}
div.quick .auction .btn{height:20px; border-bottom:1px solid #d7d7d7}
div.quick .quick-cont .btn span, div.quick .auction .btn span{width:42px; display:inline-block; font-family:verdana; font-size:10px}
div.quick .quick-cont .btn img{vertical-align:middle}
div.quick .quick-cont .vat img{vertical-align:middle; margin-top:-2px}
div.quick .quick-cont .btn em, div.quick .auction .btn em{color:#005dc6}
div.quick .ani-btn{margin-top:5px}
div.quick .auction{clear:both; width:90px; margin-top:10px; text-align:center; background:#fff}
div.quick .top{border:1px solid #d7d7d7}
div.quick .coupon{display:none; margin-top:5px}
div.quick .coupon .lay-coupon{position:absolute; right:0; z-index:100; display:inline-block; margin:0 90px 0 0; width:166px; padding:2px 12px 0 2px; background:url(http://image.gmkt.kr/_Net/core/common/bg_lay_coupon.gif) 0 0 no-repeat}
div.quick .coupon .lay-coupon .tit{height:18px; padding:8px 0 0 7px; font-weight:normal; color:#1179ea; border-bottom:1px solid #79b2f0; background:#f4f9fe}
div.quick .coupon .lay-coupon .cont{padding:6px 5px 5px 8px; border-bottom:2px solid #1179ea}
div.quick .coupon .lay-coupon .cont ul{height:51px; overflow-x:hidden; overflow-y:auto; scrollbar-face-color:#fff; scrollbar-shadow-color:#dfdfdf; scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#dfdfdf; scrollbar-darkshadow-color:#fff; scrollbar-track-color:#f2f2f2; scrollbar-arrow-color:#c2c2c2}
div.quick .coupon .lay-coupon .cont li{padding-left:7px; line-height:17px; background:url(http://image.gmkt.kr/_Net/core/common/bg_dot01.gif) 0 6px no-repeat}
div.quick .coupon .lay-coupon .cont li a{color:#676767}
div.quick .coupon .lay-coupon .cont .btn{padding-top:10px; text-align:right}
div.quick .coupon .lay-coupon .cont li a:hover{text-decoration:underline}
div.quick .quick-item .quick-btn{height:19px; padding:7px 6px 0 8px; text-align:left; font-weight:normal; color:#464646; border:0}
div.quick .quick-item .quick-btn a{position:absolute; right:0; padding:0; display:inline-block; width:11px; height:11px; margin-right:6px}
div.quick .quick-item .quick-btn img{vertical-align:middle; margin:1px 0 0 0}
div.quick .quick-close .quick-cont{display:none}
div.quick .quick-close .quick-btn{padding-top:5px; background:#F4F9FE; border-bottom:0}

/* 아이패드 앱 출시 */
.ipad_app{display:none; position:absolute; top:0; z-index:10000; width:100%; height:100px; background:url(http://image.gmkt.kr/_Net/core/main/ipad_app/bg.gif) repeat-x; text-align:center}
.ipad_app img.txt_copy{margin-top:16px}
.ipad_app a img{margin:33px 0 0 17px; vertical-align:top}

/* 아이패드 앱 팝업 */
.popup_ipad_app{display:none; position:absolute; top:0; z-index:10000; width:100%; text-align:center}
.popup_ipad_app img{vertical-align:top}
.popup_ipad_app .popup_ipad_app_con{position:relative; width:536px; margin:0 auto}
.popup_ipad_app .button_download{position:absolute; top:150px; left:207px}
.popup_ipad_app .button_none{position:absolute; top:261px; left:24px}
.popup_ipad_app .button_close{position:absolute; top:261px; right:24px}

/* Set Start Page */
.popup_startpage{position:absolute; left:50%; top:0; z-index:3001; margin-left:-490px; width:980px; height:40px; background:#eee url(http://image.gmkt.kr/_Net/core/main/startpage/txt_startpage.gif) no-repeat; text-align:center; text-indent:-10000px}
.popup_startpage a, .popup_startpage p.today{display:block; position:absolute; right:11px; top:8px; text-indent:0}
.popup_startpage a.close{padding:6px}
.popup_startpage a.button{right:215px; top:9px}
.popup_startpage.after a.button{right:152px}
.popup_startpage p.today{right:36px; top:12px; color:#7c8387; font-size:11px; letter-spacing:-1px}
.popup_startpage p.today input{vertical-align:middle}
.popup_startpage p.today label{line-height:20px}
.popup_startpage.after{background-image:url(http://image.gmkt.kr/_Net/core/main/startpage/txt_startpage2.gif)}

/* 해외IP접속 레이어 */
.layer_modal_pop_bg{position:absolute; left:0; top:0; width:100%; height:2596px; background:url(http://image.gmkt.kr/_Net/core/main/global_ip/bg_modal_pop.png) repeat}
.modalPop3{position:absolute; left:0; top:0; width:100%; z-index:3000}
.modalPop3 .pop3_modal{overflow:hidden; position:relative; left:50%; top:200px; margin:0 0 0 -286px; width:600px}
.modalPop3 div.top{width:600px; height:420px; background:url(http://image.gmkt.kr/_Net/core/main/global_ip/lang_choose_top.gif) no-repeat}
.modalPop3 div.top a{float:left; width:230px; height:280px}
.modalPop3 div.top a.ko{margin:111px 0 0 55px} 
.modalPop3 div.top p.ko{float:left; width:230px; height:280px; margin:111px 0 0 55px} 
.modalPop3 div.top a.en{margin:111px 0 0 30px} 
.modalPop3 div.top p.en{float:left; width:230px; height:280px; margin:111px 0 0 30px} 
.modalPop3 div.bot{width:600px; height:37px; background:#dfdfdf; position:relative}
.modalPop3 div.bot label{padding:10px 0 0 15px; *padding:7px 0 0 15px; display:inline-block}
.modalPop3 div.bot label a{color:#666; font-size:11px; font-family:tahoma; text-decoration:none; padding-left:5px}
.modalPop3 div.bot label input{position:relative; top:2px}
.modalPop3 div.bot a.close{position:absolute; top:12px; right:15px}

/* mac os 팝업 */
.dimmed_popup{position:absolute; left:0; top:0; width:100%; z-index:3000}
.dimmed_popup_bg{position:absolute; left:0; top:0; width:100%; height:2596px; background:url(http://image.gmkt.kr/_Net/core/main/global_ip/bg_modal_pop.png) repeat}
.popup_mac{position:absolute; top:170px; width:100%; text-align:center}
.popup_mac img{vertical-align:top}
.popup_mac .popup_con{position:relative; width:723px; margin:0 auto; border:1px solid; border-color:#002258 #002258 #002258 #002258; background:#fff; box-shadow:0 0 3px 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 3px 3px rgba(0,0,0,0.1); -moz-box-shadow:0 0 3px 3px rgba(0,0,0,0.1)}
.popup_mac .popup_con p{width:723px; height:363px}
.popup_mac div.popup_bot{position:absolute; bottom:0; left:0; height:24px; padding-left:15px; text-align:left}
.popup_mac div.popup_bot label{padding:4px 0 0 28px; *padding:6px 0 0 28px; display:inline-block; color:#cddfff; font-size:11px}
.popup_mac div.popup_bot label a{color:#666; font-size:11px; font-family:tahoma; text-decoration:none; padding-left:5px}
.popup_mac div.popup_bot label input{position:relative; top:1px; *top:-1px; width:11px; height:11px; *vertical-align:top}
.popup_mac a.close{position:absolute; top:-1px; right:-1px}