
var todayDt = '20131020';

function hideCallayer(selDt, curDt){

var weekDt =  curDt.split("-")
var mydate=new Date(weekDt[0], weekDt[1]-1, weekDt[2]);
var wkdy=mydate.getDay();

	if(wkdy==0){
		document.getElementById("Callayer_"+ selDt).className = "" ;
		$j("#Callayer_"+ selDt).addClass("sun") ;
	}else if(wkdy==6){
		document.getElementById("Callayer_"+ selDt).className = "" ;
		$j("#Callayer_"+ selDt).addClass("sat") ;
	}else{
		document.getElementById("Callayer_"+ selDt).className = "" ;
	}
	//showCallayer(todayDt,"2013-10-20","N");
}

function hideCallayer2(selDt, curDt){
var weekDt =  curDt.split("-")
var mydate=new Date(weekDt[0], weekDt[1]-1, weekDt[2]);
var wkdy=mydate.getDay();
	
	if(wkdy==0){
		document.getElementById("Callayer_"+ selDt).className = "" ;
		$j("#Callayer_"+ selDt).addClass("sun") ;
	}else if(wkdy==6){
		document.getElementById("Callayer_"+ selDt).className = "" ;
		$j("#Callayer_"+ selDt).addClass("sat") ;
	}else{
		document.getElementById("Callayer_"+ selDt).className = "" ;
	}
	
	//hideCallayer2(todayDt,"2013-10-20");

}

function showCallayer(selDt, curDt, showYn){
var eventstr = "";
var todayEventCnt = eval("dayCnt_" + selDt);

	if(document.getElementById("pastSetDt").value !="" && document.getElementById("pastCurDt").value != "")
	{

		hideCallayer(document.getElementById("pastSetDt").value, document.getElementById("pastCurDt").value);
	}
	
	
	$j("#Callayer_"+ selDt).addClass("selected") ;	

	if(selDt != todayDt){
		hideCallayer2(todayDt,"2013-10-20");
	}
	document.getElementById("pastSetDt").value = selDt;
	document.getElementById("pastCurDt").value = curDt;
}

function showEventCBanner(setDate, selNo){

var todayEventCnt = eval("dayCnt_" + setDate);
var ranNo = 0 ;
if(selNo < 0){
	ranNo  =  Math.floor(Math.random() * todayEventCnt) ;

}else{
	ranNo = selNo
}

	
	if(todayDt==setDate){
		$j("#eventBannerImg").html("<a href='"+ eval("arrDay_" + setDate)[ranNo]['URL'] +"'><img src='"+ eval("arrDay_" + setDate)[ranNo]['MainBanner']+"' alt=''></a>");
	}else{
		$j("#eventBannerImg").html("<img src='"+ eval("arrDay_" + setDate)[ranNo]['MainBanner']+"' alt=''>");
	}
}
$j(document).ready(function () {

showEventCBanner(todayDt,-1);
showCallayer(todayDt,"2013-10-20","Y")
});