									var todayEventCnt2 = eval("dayCnt_20131031");

									for (i = 0; i < todayEventCnt2; i++) {
										if (todayDt == "20131031") {

											document.write("<p><a id='eventTitle' onMouseOver=\"showEventCBanner('20131031'," + i + ")\" href='" + eval("arrDay_20131031")[i]['URL'] + "'>" + eval("arrDay_20131031")[i]['TITLE'] + "</a><span class='state_ing'>진행중</span></p>")
										} else if (todayDt < "20131031") {
											document.write("<p onMouseOver=\"showEventCBanner('20131031'," + i + ")\">" + eval("arrDay_20131031")[i]['TITLE'] + "<span class='state_yet'>오픈예정</span></p>")
										} else {
											document.write("<p onMouseOver=\"showEventCBanner('20131031'," + i + ")\">" + eval("arrDay_20131031")[i]['TITLE'] + "<span class='state_end'>종료</span></p>")
										}
									}
								